<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.Jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>dongsooShowRoom</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <security-role>
  	<description>역할 설명</description>
  	<!-- 역할명 -->
  	<role-name>admin</role-name>
  </security-role>
  <security-constraint>
  	<display-name>Store Security</display-name>
  	<web-resource-collection>
  		<!-- 프로젝트 단위 -->
  		<web-resource-name>dongsooShowRoom</web-resource-name>
  		<description>페이지 설명</description>
  		<!-- 페이지 단위 -->
  		<url-pattern>/addProduct.jsp</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<description>권한 관리자명</description>
  		<!-- 사용자명 -->
  		<role-name>admin</role-name>
  	</auth-constraint>
  </security-constraint>
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
   		<form-login-page>/login.jsp</form-login-page>
   		<form-error-page>/login_failed.jsp</form-error-page> 
   </form-login-config>
   </login-config>
 
</web-app>